<div class="row">
	<div class="span6">

		<p>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td><h6>Title:</h6></td>
						<td>
							<i class="icon-user"></i>
							<%= widget.Title %>
						</td>
					</tr>
					<tr>
						<td><h6>Upload Date:</h6></td>
						<td>
							<i class="icon-time"></i>
							<%= formattedDate %>
						</td>
					</tr>
				</tbody>
			</table>
		</p>

		<p>
			<a href="#/widgets/<%= widget.Id %>/edit" class="btn edit-btn">Edit</a>
			<button class="btn delete-btn">Delete</button>
		</p>

	</div>
</div>
